/* General */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

.highlight {
    font-weight: bold;
    color: #000080;
}

.hspacer20 {
    width: 20px;
    display: inline-block;
}

/* Controles */

form#simulador_controles {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

form#simulador_controles button {
    border: none;
    background: none;
}

form#simulador_controles button:hover {
    background: #ccc;
}

div#sim_botoes, p#sim_delayLbl, p#sim_delayVal, div#sim_delay {
    display: inline-block;
}

p#sim_delayLbl, p#sim_delayVal, div#sim_delay {
    position: relative;
    top: -10px;
}

p#sim_delayLbl {
    margin-right: 10px;
}

p#sim_delayVal {
    margin-left: 10px;
    font-style: italic;
}

div#sim_delay {
    width: 240px;
}

/* Simulador Serial */

form#simulador_serial {
    position: relative;
    width: 1000px;
    height: 400px;
    /*top: -32px; buttons stop working */
}

form#simulador_serial * {
    padding: 0;
    margin: 0;
}

canvas#overlay {
    position: absolute;
    top: 0;
    left: 0;
}

/* Quadros */

div#quadro_tx, div#quadro_rx {
    position: absolute;
    top: 5px;
    width: 240px;
}

div#quadro_tx {
    left: 5px;
}

div#quadro_rx {
    right: 5px;
}

/* Byte Entry */

.lrm_be label {
    display: inline-block;
    width: 50px;
    text-align: right;
    padding-right: 5px;
}

.lrm_be input {
    display: inline-block;
    width: 140px;
    text-align: right;
}

.lrm_be input:disabled {
    color: #000;
    background: none;
    border: none;
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
}

.lrm_be_editing {
    color: red;
}

.lrm_be_buttons {
    text-align: center;
}

/* Generic */

table tr.lrm_phantomRow td {
    border: none!important;
}

/* Shift Register */

div.lrm_par2ser table, div.lrm_ser2par table {
    border-collapse: collapse;
    width: 100%;
}

div.lrm_par2ser table td, div.lrm_ser2par table td {
    border: 1px solid gray;
    text-align: center;
}

div.lrm_par2ser table td.lrm_par2ser_output,
div.lrm_ser2par table td.lrm_ser2par_output {
    border-top: none;
    border-bottom: none;
    width: 26px;
}

div.lrm_par2ser table td.lrm_par2ser_output {
    text-align: left;
    border-right: none;
}

div.lrm_ser2par table td.lrm_ser2par_output {
    text-align: right;
    border-left: none;
}

/* Waveforms */

div#waveforms {
    position: absolute;
    top: 280px;
    left: 265px;
    width: 480px;
    height: 115px;
    border: 1px solid gray;
}

/* Rótulos */

p#lblTx, p#lblRx {
    position: absolute;
    top: 130px;
    font-size: 18pt;
}

p#lblTx {
    left: 310px;
}

p#lblRx {
    left: 690px;
}

